/*
//Up Up and Array 2.0
//Written by Jakob Frick in December 2016
//Visit GitHub.com/ImFalling/Up-Up-And-Array for more information
// --- Stylesheet 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro');
/*
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Roboto Slab', serif;
*/

body{
    margin: 0;
    padding: 0;
}

.centered{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.horicentered{
    left: 50%;
    transform: translateX(-50%);
}

.verticentered{
    top: 50%;
    transform: translateY(-50%);
}

.rightHeavy{
    left: 75%;
    transform: translateX(-50%);
}

h1{
    margin: inherit;
}

h2{
    display: block;
    position: relative;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h3{
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

h4{
    font-family: 'Source Sans Pro', sans-serif;
}

.Tile{
    position: relative;
    float: left;
    box-sizing: border-box;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}

.Tile.hasBorder{
    border: 1px solid black;
}

.Tile:hover{
    border: 1px solid red !important;
}

#toolbar-activator{
    padding: 0;
    margin: 0;
    width: 100px;
    height: 45px;
    background-color: gray;
    box-shadow: 0px 2px 5px 0px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
    color: white;
    position: relative;
    z-index: 1002;
}

#toolbar{
    height: 20vh;
    width: 100%;
    background-color: gray;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.6s;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0);
    z-index: 1001;
}

#toolbar-container{
    position: fixed;
    width: 100vw;
    top: -20vh;
    z-index: 1000;
    transition: top 0.6s;
}

#toolbar-container.extended{
    top: 0;
}
#toolbar-container.extended #toolbar{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 1);  
}

.toolbarButton{
    position: relative;
    width: calc((100% - 16vw) / 8);
    margin-left: 1vw;
    margin-right: 1vw;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid darkgray;
    float: left;
    overflow: hidden;
    transition: box-shadow 0.2s;
}

.toolbarButton:hover{
    box-shadow: 0px 0px 5px 0px black;
    cursor: pointer;
}

#toolbar-button-container{
    width: 95vw;
    position: relative;
    z-index: 1003;
    height: 50%;
}

.popup{
    position: relative;
    border: 1px solid black;
    border-radius: 25px;
    z-index: 2001;
    background-color: lightgray;
    box-shadow: 2px 2px 10px 0px black;
}

.popupBG{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
}

.newinputs{
    display: block;
    float: none;
    position: relative;
    margin-top: 25px;
}

#workspace{
    margin: 125px;
    border: 2px solid black;
    display: none;
    background-size: cover;
    position: relative;
}

.imglink{
    transition: 0.1s;
}
.imglink:hover{
    box-shadow: 0px 0px 6px 1px black;
}

#preview{
    background-size: cover;
    background-repeat: no-repeat;
}

#pallet{
    position: fixed;
    left: -100px;
    bottom: -100px;
    width: 200px;
    height: 200px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-top-right-radius: 5px;
    transition: left 0.2s, bottom 0.2s;
    z-index: 1005;
    background-color: white;
    display: none;
}

#pallet:hover{
    left: 0;
    bottom: 0;
}

#currentTile-previewNumber{
    display: inline-block;
    position: relative;
    margin-right: 0;
    margin-top: 0;
    transition: left 0.2s;
}

#currentTile-preview{
    width: 64px;
    height: 64px;
    border: 1px solid black;
    display: block;
    position: relative;
    margin-top: 10px;
    transition: left 0.2s;
    background-size: cover;
    background-repeat: no-repeat;
}

#pallet #currentTile-controller{
    display: none;
    position: relative;
}

#pallet:hover #currentTile-controller{
    display: block;
}
